---
import Layout from '../layouts/Layout.astro';
import WorldPage from '../components/WorldPage.astro'; 
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<WorldPage />
	</main>
</Layout>