---
import Layout from '../../layouts/Layout.astro';
import Facebook from '../../components/svgs/Facebook.astro';
import Telegram from '../../components/svgs/Telegram.astro';
import X from '../../components/svgs/X.astro';
import LinkedIn from '../../components/svgs/LinkedIn.astro';
const { currentLocale } = Astro
---

<Layout title="Palestina y Israel: Un repaso por la cronología del conflicto">
	<main>
		<section class="lg:grid lg:grid-cols-10 py-10 lg:py-20 lg:max-w-[1350px] justify-center mx-auto">
			<div class="hidden lg:flex lg:flex-col lg:col-span-2 lg:justify-start  lg:align-middle lg:border-t-2 lg:border-gray-300 lg:dark:dark:border-gray-800">
				<a class=" my-36" href="/">
					<h2 class="text-cyan-600 text-2xl font-bold ">
						El mundo
					</h2>
				</a>
				<h2 class="lg:py-5 lg:border-b-2 lg:border-gray-300 lg:dark:dark:border-gray-800 lg:border-t-2 dark:text-gray-200">17 de Junio - 22:21 PM</h2>
				<nav class="hidden lg:flex lg:flex-row lg:justify-center lg:items-center lg:gap-x-8 lg:mx-auto lg:py-8">
					<ul>
						<a href=""><Facebook class="size-9"/></a>
					</ul>
					<ul>
						<a href=""><Telegram class="size-9" /></a>
					</ul>
					<ul>
						<a href=""><X class="size-9 fill-black dark:fill-white" /></a>
					</ul>
					<ul>
						<a href=""><LinkedIn class="size-9" /></a>
					</ul>
				</nav>
			</div>
			<div class="col-span-6 border-t-2 border-gray-300 lg:dark:dark:border-gray-800 lg:mr-20 px-10">
				<section>
					<h5 class="text-lg font-semibold py-5 dark:text-gray-200">
						Un conflicto largo, sangriento y sin un horizonte aparente
					</h5>
					<h1 class="text-5xl font-bold text-cyan-600">
						Palestina y Israel: Un repaso por la cronología del conflicto
					</h1>
					<h3 class="text-xl py-8 dark:text-gray-200">
						En la actualidad, este conflicto constituye una de las crisis humanitarias más trascendentales y debería ser un tema a tratar con urgencia en la agenda internacional de todas las naciones. Es entonces que resulta indispensable conocer el contexto histórico en el que se fué desarrollando este enfrentamiento, que continúa cobrándose la vida de miles de personas.
					</h3>
					<h3 class="text-xl pb-8 dark:text-gray-200">
						Por <b>Gimena Gracia</b>
					</h3>
					<div class="flex flex-col">
						<img src="/new1imgs/1.jpg" alt="">
						<h6 class="bg-gray-300 dark:bg-gray-800 p-2 dark:text-gray-200">Ataque en la Franja de Gaza en octubre de 2023. Foto: EFE/Mohammed Saber
						</h6>
					</div>
					<article class="">
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200 ">
							La partición de Palestina y la creación del estado de Israel
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							La invasión a la Palestina Histórica comenzó en 1917 cuando los ingleses tomaron el control de estos territorios. Con el paso de los años, diferentes oleadas de judíos comenzaron a migrar hacia esas tierras. Es a parir de ese momento que comenzaron los conflictos entre los palestinos que reivindicaban la independencia y los judíos que consideraban esas tierras como propias.
							A causa de estas disputas, en 1947 Naciones Unidas tomó la decisión de dividir el territorio en dos, ignorando el origen de la población del país, <b>le otorgó el 55 % del territorio al Estado judío, pese a que la población seguía siendo mayoritariamente árabe</b> y a que la población judía no llegaba a poseer el 6 % de la tierra.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							Como culminación de la colonización llevada a cabo, y luego de ganar la Guerra de la Independencia, en 1948 se crea el Estado de Israel. Esto tuvo como consecuencia la <b>expulsión de más de la mitad de la población palestina</b>, quienes perdieron sus hogares y sus tierras, y se convirtieron en refugiados en países árabes vecinos, o desplazados en Gaza y Cisjordania. Esta categoría jurídica se extendió a sus descendientes y,<b> más de 70 años después, la cifra de personas refugiadas supera los cinco millones.</b>
						</p>
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200  italic">
							“Los palestinos que fueron expulsados jamás han podido regresar a sus hogares.”
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							En 1967, Israel pasó a ocupar la totalidad de Gaza y Cisjordania, generando un nuevo éxodo de palestinos de aproximadamente medio millón de personas. Esta guerra es el comienzo oficial de una ocupación y colonización de los Territorios Palestinos que dura ya más de 50 años.
							Además, desde 2002, Israel ha levantado toda una serie de muros, bloqueos, puestos fronterizos y de cruce y zonas restringidas para separar las zonas y el conjunto de Cisjordania de Israel.
						</p>
						<div class="flex flex-col">
							<img src="/new1imgs/2.jpg" alt="">
							<h6 class="bg-gray-300 dark:bg-gray-800 p-2 dark:text-gray-200">Mapas que muestran la evolución del territorio palestino (en verde), antes de 1948, en 1947 según el plan de la ONU, en 1967 y en 2010. Mapas de Philippe Rekacewicz.
							</h6>
						</div>
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200  ">
							GAZA, EL INFIERNO EN LA TIERRA
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							La ciudad de Gaza pertenece al Estado de Palestina, y su población está integrada en su mayoría por personas palestinas que fueron expulsadas por la fuerza de sus hogares y sus tierras desde 1948 en adelante, así como por sus descendientes. En esta región la situación humanitaria es extremadamente preocupante, <b> allí viven alrededor de 2 millones de personas, de las cuales más de la mitad son menores. El 58,4% de la población vive en situación de pobreza. El 54% de los habitantes padecen inseguridad alimentaria y más del 75% son beneficiarios de ayuda. El 35% de las tierras agrícolas y el 85% de sus aguas de pesca son total o parcialmente inaccesibles debido a las medidas militares israelíes.</b>
							Está bloqueada desde 2007 por orden de Israel, la población se encuentra aislada del resto de territorios palestinos. Durante los años que dura ya el bloqueo, muchos de sus residentes nunca han tenido la oportunidad de salir del territorio.
							Desde el año 2007, Gaza está gobernada de facto por Hamás, una organización terrorista según múltiples países e instituciones internacionales, incluida la Unión Europea. 							
						</p>
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200  ">
							ISRAEL BAJO EL ABRIGO DE LA IMPUNIDAD
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							Desde su declaración como Estado en 1948,  <b>Organismos Internacionales como la Corte Internacional de Justicia y Naciones Unidas, han denunciado a Israel por haber cometido cientos de violaciones contra los Derechos Humanos</b>, como el desalojo forzoso de la población palestina y la demolición de sus viviendas, campañas de represión contra organizaciones civiles palestinas acusadas de terrorismo y ataques ilegítimos que podrían catalogarse como crímenes de guerra. Estos crímenes se han llevado la vida de cientos de miles de personas.						
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							Recientemente el conflicto resurgió mediáticamente debido a que el<b> 7 de octubre de 2023, Hamás y otros grupos armados palestinos de la Franja de Gaza ocupada iniciaron un ataque sorpresa contra Israel.</b> Lanzaron cohetes hacia el sur del país y cruzaron la frontera, atacando varias localidades. Al menos 1.200 personas perdieron la vida y casi 3.500 resultaron heridas. La respuesta de las autoridades israelíes a estos atroces crímenes no se hizo esperar. Miles de bombas empezaron a caer sobre la Franja y <b>el ejército israelí impuso un asedio completo</b>, ordenando la evacuación de la Franja o impidiendo el suministro de combustible, alimentos y otros medios esenciales, como medicinas o equipamiento médico. 
							<b>Siete meses después, en mayo de 2024, la catástrofe humanitaria en Gaza no tiene precedentes: las víctimas mortales son ya más de 34.000, entre las que hay al menos 13.000 niños y niñas, y al menos 10.000 personas están en paradero desconocido.</b> La población civil palestina de Gaza está en medio de una crisis humanitaria provocada en la que toda la población sufre inseguridad alimentaria hambruna, como concluyó la Corte Internacional de Justicia el 28 de marzo de 2024.				
						</p>
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200  italic">
							“Israel solo ha cumplido totalmente el 0,5% de las resoluciones en materia de derechos humanos que se le han presentado”
						</h5>
						<div class="flex flex-col pt-5">
							<img src="/new1imgs/3.jpg" alt="">
							<h6 class="bg-gray-300 dark:bg-gray-800 p-2 dark:text-gray-200">Israel bombardeó una escuela de Naciones Unidas en el centro de Gaza. Hubo cerca de 40 muertos. Foto: BASHAR TALEB / AFP
							</h6>
						</div>
						<p class="py-6 text-lg dark:text-gray-200">
							A pesar de que la Corte Internacional de Justicia ordenase la adopción de “medidas inmediatas y efectivas”, para proteger a la población palestina en la Franja de Gaza, Israel ha seguido incumpliendo su obligación, como potencia ocupante, de garantizar la atención de las necesidades básicas de la población palestina en Gaza, y las autoridades israelíes no han garantizado la llegada en la medida suficiente de unos bienes y servicios que pueden salvar vidas a <b>una población en riesgo de genocidio y al borde de la hambruna.</b> 
						</p>
					</article>
				</section>
			</div>
			<div class="lg:flex lg:flex-col lg:col-span-2  py-10 lg:py-1 px-10 lg:px-1 lg:w-full">
				<section>
					<header class="lg:w-full bg-red-600 lg:mt-2 py-3 mb-2">
						<h2 class="text-center text-2xl text-white lg:font-semibold">Ultimas noticias</h2>
					</header>
					<article class="p-5 bg-white  dark:bg-gray-800  mb-3">
						<a href="/news/new2">
							<h5 class=" text-xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Italia: 34 migrantes muertos y 64 desaparecidos tras un naufragio al Sur
							</h5>
						</a>
						<p class="my-2 font-normal text-gray-700 dark:text-gray-400 text-sm ">Dos naufragios devastadores frente a las costas de la región italiana de Calabria dejaron como saldo 64 migrantes desaparecidos y 34 personas muertas reportadas hasta el momento.</p>
					</article>
					<article class="p-5 bg-white  dark:bg-gray-800  mb-3">
						<a href="/news/new1">
							<h5 class=" text-xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Elecciones en México: Claudia Sheinbaum se convierte en la primera presidenta mujer
							</h5>
						</a>
						<p class="my-2 font-normal text-gray-700 dark:text-gray-400 text-sm ">Victoria arrasante de la candidata, ganó las elecciones con el 59,35% de los votos  
						</p>
					</article>
				</section>
			</div>
		</section>
	</main>
</Layout>