---
import Layout from '../../layouts/Layout.astro';
import Facebook from '../../components/svgs/Facebook.astro';
import Telegram from '../../components/svgs/Telegram.astro';
import X from '../../components/svgs/X.astro';
import LinkedIn from '../../components/svgs/LinkedIn.astro';
const { currentLocale } = Astro
---

<Layout title="Italia: 34 migrantes muertos y 64 desaparecidos tras un naufragio al Sur">
	<main>
		<section class="lg:grid lg:grid-cols-10 py-10 lg:py-20 lg:max-w-[1350px] justify-center mx-auto">
			<div class="hidden lg:flex lg:flex-col lg:col-span-2 lg:justify-start  lg:align-middle lg:border-t-2 lg:border-gray-300 lg:dark:dark:border-gray-800">
				<a class=" my-36" href="/">
					<h2 class="text-cyan-600 text-2xl font-bold ">
						El mundo
					</h2>
				</a>
				<h2 class="lg:py-5 lg:border-b-2 lg:border-gray-300 lg:dark:dark:border-gray-800 lg:border-t-2 dark:text-gray-200">23 de Junio - 19:21 PM</h2>
				<nav class="hidden lg:flex lg:flex-row lg:justify-center lg:items-center lg:gap-x-8 lg:mx-auto lg:py-8">
					<ul>
						<a href=""><Facebook class="size-9"/></a>
					</ul>
					<ul>
						<a href=""><Telegram class="size-9" /></a>
					</ul>
					<ul>
						<a href=""><X class="size-9 fill-black dark:fill-white" /></a>
					</ul>
					<ul>
						<a href=""><LinkedIn class="size-9" /></a>
					</ul>
				</nav>
			</div>
			<div class="col-span-6 border-t-2 border-gray-300 lg:dark:dark:border-gray-800 lg:mr-20 px-10">
				<section>
					<h5 class="text-lg font-semibold py-5 dark:text-gray-200">
						Más de 800 muertos o desaparecidos en el Mediterráneo en lo que va del año
					</h5>
					<h1 class="text-5xl font-bold text-cyan-600">
						Italia: 34 migrantes muertos y 64 desaparecidos tras un naufragio al Sur
					</h1>
					<h3 class="text-xl py-8 dark:text-gray-200">
						Dos naufragios devastadores frente a las costas de la región italiana de Calabria dejaron como saldo 64 migrantes desaparecidos y 34 personas muertas reportadas hasta el momento, según las Agencias de Naciones Unidas.
					</h3>
					<h3 class="text-xl pb-8 dark:text-gray-200">
						Por <b>Gimena Gracia</b>
					</h3>
					<div class="flex flex-col">
						<img src="/new2imgs/1.jpg" alt="">
						<h6 class="bg-gray-300 dark:bg-gray-800 p-2 dark:text-gray-200">La Guardia Costera italiana ha recuperado hasta ahora 20 cuerpos en el mar Jonio.Imagen: Valeria Ferraro/AP Photo/picture alliance
						</h6>
					</div>
					<article class="">
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200 ">
							8 DÍAS A LA DERIVA Y TRAGEDIA
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							La primera embarcación tuvo su catástrofe a unos 200 kilómetros de la Costa de Calabria cuando el motor se incendió y los migrantes provenientes de Irán, Siria e Irak quedaron a la deriva. <b>Los sobrevivientes</b>, entre los que hay niños no acompañados y mujeres, contaron que <b>llevaban ocho días navegando</b> desde su partida de Turquía y que habían pagado cerca de 3.500 dólares por viajar en la embarcación.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							“Equipos de Médicos Sin Fronteras (MSF) dieron los primeros auxilios a las personas rescatadas y se están movilizando para brindar apoyo psicológico a todos los supervivientes", explicó esta ONG. Shakila Mohammadi, mediadora cultural de MSF que intervino en el desembarco en suelo italiano, comentó: “<b>Había familias traumatizadas, el dolor era palpable.</b> Ver ahogarse a un familiar o a un amigo siempre es horrible. Nos contaron que viajaban sin chalecos salvavidas y que algunas embarcaciones no paraban para auxiliarlos". Además agregó: “<b>se presume que familias enteras de Afganistán han muerto.</b> Salieron de Turquía hace ocho días y habían estado tomando agua durante tres o cuatro días". 

						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							La segunda tragedia ocurrió cerca de la Isla de Lampedusa, en el Mar Jónico, <b>10 personas fueron encontradas muertas por asfixia en una embarcación de madera, mientras que se logró evacuar a 51 sobrevivientes</b>, procedentes principalmente de Bangladesh, Pakistán, Egipto y Siria. Los migrantes tuvieron que ser liberados con un hacha ya que se encontraban atrapados en el fondo del barco, junto a los 10 cadáveres.
						</p>
						<div class="flex flex-col">
							<img src="/new2imgs/2.png" alt="">
							<h6 class="bg-gray-300 dark:bg-gray-800 p-2 dark:text-gray-200">Uno de los migrantes salvados del mar tras naufragar su velero en el mar Mediterráneo, a primera hora del lunes 17 de junio de 2024, reciben asistencia en Roccella Ionica, al sur de Italia, adonde fueron trasladados por la Guardia Costera italiana. AP - Valeria Ferraro
							</h6>
						</div>
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200">
							UN PROMEDIO DE CASI 5 MUERTOS Y DESAPARECIDOS POR DÍA EN LO QUE VA DEL AÑO
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							Este 17 de junio se conoció un informe conjunto de varias agencias de la ONU que confirman las alarmantes cifras sobre la migración en el <b>Mar Mediterráneo: más de 800 muertos o desaparecidos en esta ruta en lo que va del 2024.</b>
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							"<b>Todo naufragio representa un fracaso colectivo</b>, un fracaso señal tangible de la <b>incapacidad de los Estados para proteger a las personas más vulnerables</b>", señalaron las organizaciones de Naciones Unidas. El año pasado 3.155 personas murieron o desaparecieron mientras cruzaban el Mediterráneo, frente a 2.411 migrantes que fallecieron el año anterior intentando llegar a Europa por mar, indicó la OIM. Grupos humanitarios han resaltado las muertes como prueba del fracaso de la política migratoria europea.
						</p>
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200  ">
							CONTRA LAS VIEJAS RECETAS MIGRATORIAS
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							Estas dos tragedias se dan en el marco de las <b>medidas aprobadas en Italia a fines del año pasado para frenar la llegada masiva de migrantes</b>. El gobierno de la ultraderechista Giorgia Meloni puso en marcha las nuevas disposiciones, donde después de cruzar el Mediterráneo y desembarcar, aquellos migrantes que la administración italiana decida serán encerrados en los llamados <b>"centros de repatriación permanente", con un funcionamiento parecido al de una cárcel</b> y donde se encierra a extranjeros que viajaron de manera clandestina.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							Varias ONG que se ocupan del rescate de migrantes en el mediterráneo criticaron el <a class="text-[#0891B2] underline" href="https://www.pagina12.com.ar/589049-la-comision-europea-propone-un-nuevo-plan-para-afrontar-la-c">plan de acción europeo para contener la migración</a>, anunciado por la presidenta de la Comisión Europea, Úrsula von der Leyer. Son "<b>viejas recetas que la UE viene aplicando desde hace décadas y que han resultado infructuosas, además de agravar la crisis de solidaridad y la situación de las personas en tránsito</b>". El comunicado cuenta con la firma de decenas de entidades como SOS Humanity, Sea-Watch, Resqship, Mediterranea Saving Humans, Watch the Med Alarm Phone y Welcome to Europe. "Las organizaciones abajo firmantes piden una Europa abierta y acogedora e instan a los estados miembros de la UE a proporcionar rutas legales y seguras y condiciones de acogida dignas", urgen las ONG.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							<b>El gobierno italiano implementó varias normas para restringir las actividades de barcos de ONGs que rescatan a migrantes</b>, ya que los acusa de alentar las travesías por mar. En febrero de este año el Senado italiano sancionó una ley propuesta por el gobierno que contempla <b>multas de hasta 50 mil euros para quienes presten asistencia humanitaria</b>. La nueva ley dificulta a las organizaciones humanitarias que operan en el mar Mediterráneo, al establecer que las embarcaciones tienen que acudir a puerto inmediatamente después de llevar a cabo un rescate, obligando a ignorar las llamadas de socorro de quienes se encuentren en el mar simplemente por el hecho de haber salvado ya a otros.
						</p>
					</article>
				</section>
			</div>
			<div class="lg:flex lg:flex-col lg:col-span-2  py-10 lg:py-1 px-10 lg:px-1 lg:w-full">
				<section>
					<header class="lg:w-full bg-red-600 lg:mt-2 py-3 mb-2">
						<h2 class="text-center text-2xl text-white lg:font-semibold">Ultimas noticias</h2>
					</header>
					<article class="p-5 bg-white  dark:bg-gray-800  mb-3">
						<a href="/news/new1">
							<h5 class=" text-xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Palestina y Israel: Un repaso por la cronología del conflicto</h5>
						</a>
						<p class="my-2 font-normal text-gray-700 dark:text-gray-400 text-sm ">Un conflicto largo, sangriento y sin un horizonte aparente.</p>
					</article>
					<article class="p-5 bg-white  dark:bg-gray-800  mb-3">
						<a href="/news/new1">
							<h5 class=" text-xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Elecciones en México: Claudia Sheinbaum se convierte en la primera presidenta mujer
							</h5>
						</a>
						<p class="my-2 font-normal text-gray-700 dark:text-gray-400 text-sm ">Victoria arrasante de la candidata, ganó las elecciones con el 59,35% de los votos  
						</p>
					</article>
				</section>
			</div>
		</section>
	</main>
</Layout>