---
import Layout from '../../layouts/Layout.astro';
import Facebook from '../../components/svgs/Facebook.astro';
import Telegram from '../../components/svgs/Telegram.astro';
import X from '../../components/svgs/X.astro';
import LinkedIn from '../../components/svgs/LinkedIn.astro';
const { currentLocale } = Astro
---

<Layout title="Elecciones en México: Claudia Sheinbaum se convierte en la primera presidenta mujer">
	<main>
		<section class="lg:grid lg:grid-cols-10 py-10 lg:py-20 lg:max-w-[1350px] justify-center mx-auto">
			<div class="hidden lg:flex lg:flex-col lg:col-span-2 lg:justify-start  lg:align-middle lg:border-t-2 lg:border-gray-300 lg:dark:dark:border-gray-800">
				<a class=" my-36" href="/">
					<h2 class="text-cyan-600 text-2xl font-bold ">
						El mundo
					</h2>
				</a>
				<h2 class="lg:py-5 lg:border-b-2 lg:border-gray-300 lg:dark:dark:border-gray-800 lg:border-t-2 dark:text-gray-200">24 de Junio - 14:21 PM</h2>
				<nav class="hidden lg:flex lg:flex-row lg:justify-center lg:items-center lg:gap-x-8 lg:mx-auto lg:py-8">
					<ul>
						<a href=""><Facebook class="size-9"/></a>
					</ul>
					<ul>
						<a href=""><Telegram class="size-9" /></a>
					</ul>
					<ul>
						<a href=""><X class="size-9 fill-black dark:fill-white" /></a>
					</ul>
					<ul>
						<a href=""><LinkedIn class="size-9" /></a>
					</ul>
				</nav>
			</div>
			<div class="col-span-6 border-t-2 border-gray-300 lg:dark:dark:border-gray-800 lg:mr-20 px-10">
				<section>
					<h5 class="text-lg font-semibold py-5 dark:text-gray-200">
						Victoria arrasante de la candidata 
					</h5>
					<h1 class="text-5xl font-bold text-cyan-600">
						Elecciones en México: Claudia Sheinbaum se convierte en la primera presidenta mujer
					</h1>
					<h3 class="text-xl py-8 dark:text-gray-200">
						El pasado domingo 2 de junio la candidata presidencial Claudia Sheinbaum ganó las elecciones con el 59,35% de los votos, dando como resultado la elección de la primera mujer presidenta y el mayor número de gobernadoras en la historia nacional.
					</h3>
					<h3 class="text-xl pb-8 dark:text-gray-200">
						Por <b>Gimena Graciá</b>
					</h3>
					<div class="flex flex-col">
						<img src="/new3imgs/1.jpg" alt="">
						<h6 class="bg-gray-300 dark:bg-gray-800 p-2 dark:text-gray-200">Claudia Sheinbaum. Imagen: AFP
						</h6>
					</div>
					<article class="">
						<p class="py-6 text-lg dark:text-gray-200">
							El domingo 2 de junio <b>98.9 millones de mexicanos y mexicanas</b> fueron convocados a participar de las que serán consideradas las elecciones más grandes de la historia de México, en cuanto a participación ciudadana y a la cantidad de puestos que se votaron, más de 20.000 a nivel nacional y local.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							Claudia Sheinbaum candidata de la coalición “Sigamos Haciendo Historia”, integrada por Morena, el Partido del Trabajo (PT) y el Partido Verde Ecologista de México (PVEM), </b>ganó cómodamente con el 59,35% de los votos y se ubicó más de 30 puntos arriba de su oponente Xóchitl Gálvez</b>, representante de la alianza opositora entre el PRI, el PAN y el PRD, que obtuvo cerca del 27,9%. 
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							Sheinbaum, una científica de 61 años, <b>prometió continuar el legado de López Obrador</b>, aunque con ligeros ajustes para <b>mitigar la violencia ligada al crimen organizado, reducir la deuda pública, estimular la economía, impulsar las energías renovables y atajar la corrupción.</b> "Es el reconocimiento de México a nuestro proyecto de nación", agregó Sheinbaum ante sus simpatizantes tras asegurar que logró una ventaja de 30 puntos porcentuales, la misma que obtuvo López Obrador cuando ganó en 2018, convirtiéndose entonces en el triunfo presidencial más amplio desde 1985.
						</p>
						<div class="flex flex-col">
							<img src="/new3imgs/2.png" alt="">
							<h6 class="bg-gray-300 dark:bg-gray-800 p-2 dark:text-gray-200">Simpatizantes de Claudia Sheinbaum celebrando en Ciudad de México el domingo por la noche. Imagen: Cesar Rodriguez para The New York Times
							</h6>
						</div>
						<h5 class="text-2xl font-semibold pt-8 dark:text-gray-200">
							GRANDES DESAFÍOS DE UN NUEVO TIEMPO
						</h5>
						<p class="py-6 text-lg dark:text-gray-200">
							Al iniciar su mandato Sheinbaum deberá poner en marcha medidas que se encarguen de los problemas que más apremian la agenda política de México actualmente. La <b>seguridad pública</b> es un tema de complejidad desproporcionada, la violencia se hace presente de manera cotidiana a través de los altos índices de homicidio, femicidios, desapariciones, violencia política y hacia periodistas vinculados, en gran medida, con el crimen organizado.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							En una campaña electoral marcada por el <b>asesinato de 41 actores políticos desde el comienzo del proceso electoral</b>, la violencia política es un gran desafío para la presidenta electa, quien debe buscar que la democracia mexicana pueda ser un aspecto consolidado que no cueste la vida de quienes deciden participar en la política del país.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							La gestión de López Obrador ha oscilado entre medidas concretas para el control de la seguridad en los territorios y políticas de desarrollo bajo la premisa de “abrazos, no balazos”, destinadas a contener especialmente a la juventud para evitar su reclusión por parte de las bandas criminales. En este sentido, Sheinbaum se expresó:  "Llevaremos a México por el camino de la seguridad, avanzaremos con la atención a las causas, el fortalecimiento de la Guardia Nacional", dijo, en referencia a un cuerpo armado creado por López Obrador en reemplazo de una policía federal.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							<b>En materia migratoria, México se enfrenta a un gran desafío vinculado a la frontera que comparte con EEUU.</b> "Con Estados Unidos habrá una relación de amistad, respeto mutuo e igualdad como hasta ahora ha sido, y siempre defenderemos a las y los mexicanos que se encuentran del otro lado de la frontera", señaló.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							<b>Continuar con la distribución de la riqueza, será otra prioridad de la nueva presidenta</b> que afirmó dar continuidad al proyecto social lopezobradorista: "Vamos a garantizar todos los programas del bienestar del presidente López Obrador", dijo al referirse a las múltiples ayudas económicas para ancianos, discapacitados y jóvenes. "Dedicaremos por convicción el presupuesto público para garantizar todos los programas del bienestar (...) y también todos los programas a los que nos comprometimos", añadió.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							El <b>Consejo de Empresas Globales de México</b>, el organismo que nuclea a 60 firmas transnacionales que se han establecido en el país, </b>recibió de manera muy positiva el triunfo de Claudia Sheinbaum</b>.“La futura presidenta de México cuenta con las Empresas Globales para avanzar una agenda de crecimiento con bienestar para este país. Estamos comprometidas a mantener y fortalecer nuestra presencia en México, y como embajadores globales, a transmitir mensajes de confianza a nuestras casas matrices”, señaló el organismo. También solicitaron garantías para “<b>el estado de derecho</b>” y “<b>certidumbre jurídica</b>”, además de eficiencia administrativa, “<b>órganos regulatorios de excelencia y una clara separación de poderes</b>”.
						</p>
						<p class="py-6 text-lg dark:text-gray-200">
							<b>La candidata de izquierda proclamó las condenas a la política neoliberal</b>, tema que ha sido una de las insignias del gobierno de López Obrador, pero prometió fomentar las inversiones. <b>"Respetaremos la libertad empresarial y promoveremos y facilitaremos con honestidad la inversión privada nacional y extranjera que fomente el bienestar social y el desarrollo regional, garantizando siempre el respeto al medio ambiente".</b>
						</p>
					</article>
				</section>
			</div>
			<div class="lg:flex lg:flex-col lg:col-span-2  py-10 lg:py-1 px-10 lg:px-1 lg:w-full">
				<section>
					<header class="lg:w-full bg-red-600 lg:mt-2 py-3 mb-2">
						<h2 class="text-center text-2xl text-white lg:font-semibold">Ultimas noticias</h2>
					</header>
					<article class="p-5 bg-white  dark:bg-gray-800  mb-3">
						<a href="/news/new2">
							<h5 class=" text-xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Italia: 34 migrantes muertos y 64 desaparecidos tras un naufragio al Sur
							</h5>
						</a>
						<p class="my-2 font-normal text-gray-700 dark:text-gray-400 text-sm ">Dos naufragios devastadores frente a las costas de la región italiana de Calabria dejaron como saldo 64 migrantes desaparecidos y 34 personas muertas reportadas hasta el momento.</p>
					</article>
					<article class="p-5 bg-white  dark:bg-gray-800  mb-3">
						<a href="/news/new1">
							<h5 class=" text-xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Palestina y Israel: Un repaso por la cronología del conflicto</h5>
						</a>
						<p class="my-2 font-normal text-gray-700 dark:text-gray-400 text-sm ">Un conflicto largo, sangriento y sin un horizonte aparente.</p>
					</article>
				</section>
			</div>
		</section>
	</main>
</Layout>