<section class="max-w-sm lg:max-w-[1400px] justify-center mx-auto my-8">
    <header class="mx-10 py-4 mb-10">
        <h2 class="bg-cyan-500 py-6 px-10 text-2xl font-bold text-white mx-10">El mundo</h2>
    </header>
    <a href="/news/new1" class="lg:flex flex-col items-center justify-center mx-10 mb-6 lg:mx-auto bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-6xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 ">
        <div class="flex flex-col justify-between p-4 leading-normal dark:border-gray-700 dark:bg-gray-800 ">
            <h5 class="lg:p-7 mb-2 text-2xl lg:text-5xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Palestina y Israel: Un repaso por la cronología del conflicto
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 lg:px-10">Un conflicto largo, sangriento y sin un horizonte aparente.</p>
        </div>
        <img class="object-cover  lg:max-w-xl rounded-lg md:rounded-lg" src="/new1imgs/portada.jpg" alt="">
    </a>
    <div class="flex flex-col lg:grid lg:grid-cols-2 items-center lg:max-w-[1200px] mx-auto gap-y-3">
        <article class="mx-auto">
            <div class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/news/new2">
                    <img class="rounded-t-lg" src="/new2imgs/portada.jpg" alt="portada" />
                </a>
                <div class="p-5">
                    <a href="/news/new2">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Italia: 34 migrantes muertos y 64 desaparecidos tras un naufragio al Sur
                        </h5>
                    </a>
                    <p class="mb-5 font-normal text-gray-700 dark:text-gray-400 my-5">Dos naufragios devastadores frente a las costas de la región italiana de Calabria dejaron como saldo 64 migrantes desaparecidos y 34 personas muertas reportadas hasta el momento
                    </p>
                    <a href="/news/new2" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Lee más aquí
                         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
        <article class="mx-auto">
            <div class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/news/new3">
                    <img class="rounded-t-lg object-cover  w-full" src="new3imgs/1.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="/news/new3">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500 ">
                            Elecciones en México: Claudia Sheinbaum se convierte en la primera presidenta mujer
                        </h5>
                    </a>
                    <p class="mb-5 font-normal text-gray-700 dark:text-gray-400 my-5">
                        El pasado domingo 2 de junio la candidata presidencial Claudia Sheinbaum ganó las elecciones con el 59,35% de los votos, dando como resultado la elección de la primera mujer presidenta
                    </p>
                    <a href="/news/new3" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Lee más aquí
                         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>