<section class="lg:max-w-[1400px] justify-center lg:mx-auto my-8">
    <header class="mx-10 py-4 mb-10">
        <h2 class="bg-cyan-500 py-6 px-10 text-2xl font-bold text-white mx-10">El mundo</h2>
    </header>
    <a href="/news/new1" class=" flex flex-col items-center justify-center mx-10 mb-6 lg:mx-auto bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-6xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 ">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="lg:p-7 mb-2 text-2xl lg:text-5xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Palestina y Israel: Un repaso por la cronología del conflicto
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 lg:px-10">Un conflicto largo, sangriento y sin un horizonte aparente.</p>
        </div>
        <img class="object-cover  lg:max-w-xl rounded-lg md:rounded-lg" src="/new1imgs/portada.jpg" alt="">
    </a>
    <div class="flex flex-col lg:grid lg:grid-cols-3 items-center gap-y-3">
        <article class="lg:ml-36 mx-auto">
            <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="https://www.argentina.gob.ar/sites/default/files/whatsapp_image_2023-09-28_at_16.51.42.jpeg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Argentina y Brasil: Alianzas y Diferencias en la Diplomacia Sudamericana</h5>
                    </a>
                    <p class="mb-5 font-normal text-gray-700 dark:text-gray-400 my-5">Desde acuerdos comerciales hasta desafíos fronterizos, este análisis proporciona una visión profunda de una relación crucial en la región.</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Lee más aquí
                         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
        <article class="mx-auto ">
            <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg object-cover h-44 w-full" src="https://econojournal.com.ar/wp-content/uploads/2023/11/Litio-1024x576.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500 ">El Litio: El Nuevo Motor de la Economía Latinoamericana</h5>
                    </a>
                    <p class="mb-5 font-normal text-gray-700 dark:text-gray-400 my-5">Desde Argentina, Bolivia y Chile hasta proyectos de extracción en otros países latinoamericanos, exploramos como está transformando la dinámica económica de la región</p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Lee más aquí
                         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
        <article class="mx-auto lg:mr-36 ">
            <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg object-cover h-44 w-full " src="https://i0.wp.com/pescare.com.ar/wp-content/uploads/2024/05/mondino-en-china.jpg?resize=768%2C580&ssl=1" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-5 text-2xl font-bold tracking-tight text-cyan-600 dark:text-cyan-500">Argentina y China: Socios Comerciales en un Mundo Globalizado</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 my-5">Desde acuerdos de inversión hasta cooperación en infraestructura, examina cómo estas dos naciones están fortaleciendo sus lazos en un mundo cada vez más interconectado. </p>
                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Lee más aquí
                         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>